.App {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  width: 6rem;
  aspect-ratio: 1/1;
  margin: 1rem auto;
  background-color: rgb(234, 255, 0);
  border: 0.5rem solid rgb(255, 0, 0);
  font-size: 5rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 500ms linear;
}
